@media only screen and (max-width: 960px){
    .wrapper{
         max-width: 720px;
         padding: 20px; 
    }

    .hide{
        display: none;
    }
    
    .main-content{
        width: 100%;
    }
    
    .aside-content{
        width: 100%;
    }

    .show-menu-label {
		display: block;
        width: 100%;
	}

    .header-bottom {
        position: relative;
    }

    .header-bottom-menu.wrapper {
        padding: 0px;
    }

    .header-bottom-menu {
        display: none;
        position: absolute;
        left: 0px;
        max-width: 960px;
        z-index: 100;
        background-color: #35213a;
    }

    .menu-items {
        display: block;
        border: solid 1px rgba(215, 160, 229, 0.12);
        width: 100%;
        padding: calc((100vh - 150px - 12px * 8) / 16) 5px;
    }

    .show-menu-checkbox:checked ~ .header-bottom-menu {
        display: block;
        flex-direction: column;
    }

    .aside-content{
        padding-top: 0;
    }
}



@media only screen and (max-width: 520px){

    .main-content-flex {
        display: block;
        flex-direction: column;
    }

    .main-content-notes-item {
        display: block;               
        width: 100%
    }

    .footer-menu {
        display: none;
    }

}