@font-face {
    font-family: 'aaux_proboldregular';
    src: url('../fonts/ufonts.com_aaux-probold-webfont.woff2') format('woff2'),
         url('../fonts/ufonts.com_aaux-probold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 38px;
    text-align: left;
}

/*---------------------------------HEADER---------------------------------------*/

.header-top{
    display: block;
    padding-top: 9px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 88px;
    font: 28px 'aaux_proboldregular', sans-serif;
    line-height: 0.97;
    letter-spacing: -2.2px;
    color: #35213a;
    margin-right: 5px;
}

.logo a{
    text-decoration: none;
}

.soc{
    display: inline-block;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.soc-subscribe{
  font-size: 11px;
  font-weight: bold;
  line-height: 3.55;
  color: #9e7ec1;
  float: left;
  margin-right: 5px;
  text-transform: uppercase;
}

.soc-subscribe a{
  font-size: 11px;
  font-weight: bold;
  line-height: 3.55;
  color: #9e7ec1;
  text-decoration: underline;
}

.soc-icon{
    width: 20px;
    height: 20px;
    font-size: 11px;
    line-height: 1;
    margin-right: 5px;
    background: #696969;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    display: inline-block;
}


.soc-icon:hover, .soc-icon:focus{
    background: #8c8c8c;
    text-decoration: none;
}

.advertisment{
    display: inline-block;
}

.header-search{
    display: inline-block;
    position: relative;  
}

.search-input{
  max-width: 214px;
  line-height: 1;
  padding: 9px;
  color: #e0e0e0;
  font-weight: lighter;
  font-size: 12px;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.12);
  float: left;
}

.search-button{
    top: 8px;
    right: 8px;
    position: absolute;
    width: 13px;
    height: 13px;
    color: #e0e0e0;
    border: 0;
    background: none;
}

/*----------------------------------NAV--------------------------------------*/

.header-bottom{
    display: block;
    width: 100%;
    background-color: #35213a;
}

.header-bottom-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
}

.menu-items{
    width: calc(100% / 8);
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 21px 5px;
    border-left: solid 1px rgba(215, 160, 229, 0.12);
    color: #ffffff;
    transition: background-color 0.5s linear;
}

.menu-items:last-child{
    border-right: solid 1px rgba(215, 160, 229, 0.12);
}

.menu-items:hover, .menu-items:focus{
    text-decoration: none;
    background-color: #9e7ec1;
}

.show-menu-label, .show-menu-checkbox{
    display: none;
    color: #ffffff;
}

.show-menu-label{
    font-size: 20px;
    padding: 17px 5px;
    text-align: center
}

/*----------------------------------TOP-CONTENT-------------------------------*/

main {
    overflow: hidden;
}

.top-content{   
    background: url(../images/layer-9.png) no-repeat;
    background-size: cover;
}

.top-content-text{
   color: #ffffff;
   line-height: 1.4;
}

.top-content-title{
  padding-top: 105px; 
  padding-bottom: 21px; 
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 3.5px 2px rgba(0, 0, 0, 0.34);
}

.top-content-subtitle{
  padding-bottom: 105px;  
  font-size: 21px;
  font-weight: normal;
}

/*----------------------------------MAIN-CONTENT-------------------------------*/

.main-content{
    width: calc(100% - 350px);
    margin-right: 40px;
    float: left;
}


.main-content-notes{
    padding: 41px 0;    
    border-bottom: 1px solid #edeef0;  
}

.main-content-flex{
    padding-top: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
}

.global-title{
    font-size: 28px;
    line-height: 1.39;
    letter-spacing: -3px;
    font-weight: normal;
    word-spacing: 5px;
    color: #272727;
    text-transform: uppercase;
}

.main-content-notes-item{
    width: 100%;
    flex: 0 1 auto;
    line-height: 1.2;
    margin-right: 7px;
}

.main-content-notes-item:last-child{
    margin-right: 0;
}

.img-border{
    padding: 1px;
    background: #ffffff;
    border: 1px solid #adadad;
}

.main-content-img{
    height: 125px;
    width: calc(100% - 1px);
    object-fit: cover;
    margin-bottom: 20px;
} 

.main-content-vd{
    height: 125px;
    width: 100%;
    margin-bottom: 20px;
} 

.item-title{
    font-size: 15px;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
}

.item-info{
    padding-top: 5px;
    font-size: 12px;
    line-height: 1.2;
    color: #c3c3c3;
    font-weight: lighter;
}

.main-content-memo{
    padding-top: 41px;    
}

.memo-style{
    padding: 20px;
    background-color: #8466a5;
    border: solid 1px rgba(249, 249, 249, 0.12);
}

.main-content-memo-text{
    padding: 4px 0 4px 18px;
}

.text-memo-style{
    color: #ffffff;
    line-height: 1.5;    
}

.main-content-memo-img{
    width: 100%;
    border: 3px solid #ffffff;
}

.main-content-advertisment {
    margin: 41px 0;
    display: block;
    max-height: 100px;
    padding: 23px;
    background-color: #f6f6f6;
    border: solid 1px rgba(249, 249, 249, 0.12);
}

.main-content-advertisment-relative-img{
    position: relative;
    top: -61px;
    left: 0px;
    background: url(../images/sprite.png) no-repeat;
    width: 50%;
    height: 115px;
    background-position: 0 -85px;
}

.main-content-advertisment-text {
    display: block;
    width: 100%;
    padding: 0 5px;
}

.main-content-advertisment-img{
    background: url(../images/sprite.png) no-repeat;
    width: 50%;
    height: 40px;
    background-position: 0 -45px;
    margin: 9px 0 9px 10px;
}

/*----------------------------------ASIDE-CONTENT-------------------------------*/
.aside-content{
    padding-top: 41px;
    width: 300px;
    float: right;
    line-height: 1.2;
}

.submission-form{
    width: 100%;
    padding: 60px 0;
}

.aside-title{
    font-weight: bold;
    color: #35213a;
    padding-bottom: 14px;
}

.form-input{
    width: 100%;
}

.aside-input-email{
    width: 70%;
    float: left;
    padding: 12px 0 12px 12px;
    font-size: 12px;
    color: #adadad;
    font-weight: lighter;
    border: solid 1px #adadad;
}

.aside-input-submit{
    width: 30%;
    padding: 12px 0; 
    background-color: #9e7ec1;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    border: solid 1px #9e7ec1;
}

.aside-content-notes{
    margin: 20px 0;
    display: block;
    background-color: #f6f6f6;
    border: solid 1px rgba(249, 249, 249, 0.12);
}

.aside-content-item{
    display: block;
    width: 100%;  
    padding: 12px;
    border-bottom: 1px solid #edeef0;  
}

.aside-content-item:last-child{
    display: block;
    width: 100%;  
    padding: 12px;
    border-bottom: none;  
}

.aside-content-item-img{
    display: inline-block;
    width: 20%;
    min-width: 77px;
    min-height: 77px;
    object-fit: cover;
}

.aside-content-item-text{
    display: inline-block;
    width: 70%;
    padding: 3px 0 1px 12px;
    vertical-align: top;
}

.aside-advertisment {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

/*--------------------------------FOOTER------------------------------------*/

footer {
    border-top: 2px solid #adadad;  
}

.footer-top{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.footer-menu {
    display: block;
    padding: 21px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.footer-menu-items {
    text-transform: capitalize;
    font-size: 12px;
    padding: 0 10px;
    border-left: solid 1px #adadad;
    color: #35213a;
    transition: color 0.5s linear;
}

.footer-menu-items:first-child {
    padding-left: 0;
    border-left: none;
}

.footer-menu-items:hover{
    color: #9e7ec1;
}


.copyright {
    font-size: 11px;
    color: #9a9999;
    clear: right;
    width: 100%;
}

.copyright:hover {
    text-decoration: none;
}